.footer {
    margin-top: 1rem;
}

.footer-container {
    padding: 0 15px 35px;
    background: #fff;
    filter: drop-shadow(0 2px 0px rgba(194, 191, 191, 0.651));
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.foot-list > h4 {
    color: #272727;
    font-weight: 500;
    font-size: 20px;
}

.foot-list > ul {
    padding: 0;
}

.foot-list > ul > li {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 400;
    padding: 15px 0;
    cursor: pointer;
}

.foot-list > ul > li:hover {
    color: #000000;
    transition: .3s ease;
}

.foot-content {
    width: 90%;
    margin: 2rem auto;
}

.icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icons > i {
    font-size: 35px;
    color: #272727;
    cursor: pointer;
}

.icons > i:hover {
    color: #007042;
    transition: .5s ease;
}

.terms {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.terms > p {
    border-right: 1px solid rgba(0, 0, 0, 0.753);
    padding-right: 25px;
}

.foot-content > p {
    color: #797979c7;
}