.section-container {
    filter: drop-shadow(2px 0 2px rgba(194, 191, 191, 0.651));
    padding-bottom: 30px;
    background: #fff;
}

.lime-container {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    background: #FA91AA;
}

.cake-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 3rem;
    background: #007042;
}

.txt-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-txt, .cake-inner-txt {
    width: 70%;
    margin: auto;
    text-align: center;
}

.inner-txt > h1 {
    color: #1e3932;
    font-size: 3.5em;
}

.inner-txt > p {
    color: #1e3932;
    font-size: 25px;
    font-weight: 400;
}

.inner-txt > a {
    color: #1e3932;
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: #1e3932 1px solid;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
}

.inner-txt > a:hover {
    background: #1e393238;
    transition: .5s ease;
}

.cake-inner-txt > h1 {
    color: #f1f8f6;
    font-size: 3.5em;
}

.cake-inner-txt > p {
    color: #f1f8f6;
    font-size: 25px;
    font-weight: 400;
}

.cake-inner-txt > a {
    color: #f1f8f6;
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: #f1f8f6 1px solid;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
}

.cake-inner-txt > a:hover {
    background: #f1f8f638;
    transition: .5s ease;
}

.img-container {
    width: 50%;
}

.img-container > img {
    width: 100%;
    height: 100%;
}

/* footer style */

.footer {
    margin-top: 1rem;
}

.footer-container {
    padding: 0 15px 35px;
    background: #fff;
    filter: drop-shadow(0 2px 0px rgba(194, 191, 191, 0.651));
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.foot-list > h4 {
    color: #272727;
    font-weight: 500;
    font-size: 20px;
}

.foot-list > ul {
    padding: 0;
}

.foot-list > ul > li {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 400;
    padding: 15px 0;
}

.foot-content {
    width: 90%;
    margin: 2rem auto;
}

.icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icons > i {
    font-size: 35px;
    color: #272727;
    cursor: pointer;
}

.icons > i:hover {
    color: #007042;
    transition: .5s ease;
}

.terms {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.terms > p {
    border-right: 1px solid rgba(0, 0, 0, 0.753);
    padding-right: 25px;
}

.foot-content > p {
    color: #797979c7;
}