.menu-nav {
    background: #F9F9F9;
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
}

.menu-nav > ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 80%;
    margin-left: 12%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu-nav > ul > li {
    list-style-type: none;
    cursor: pointer;
    font-size: 15px;
}

.menu-nav > ul > li:nth-child(1) {
    text-decoration: underline;
}

.type-list {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    margin-top: 4rem;
    width: 80%;
    margin-left: 12%;
}

.list-type {
    width: 30%;
}

.list-type > h1 {
    font-weight: 500;
}

.list-type > ul {
    padding: 0;
}

.list-type > ul > li {
    list-style-type: none;
    color: rgba(0,0,0,.58);
    font-weight: 500;
    font-size: 17px;
    padding: 20px 0;
    cursor: pointer;
}

.list-imgs {
    display: flex;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
}

.list-imgs > span {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 20px 0;
    width: 50%;
}

.list-imgs > span > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}